src-00-temp/main/default/flows/Update_Case_Status_from_Omni_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>287</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assessment in Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Cases</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Case Status from Omni Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Status from Omni Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>171</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OmnichannelcaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Cases</name>
        <label>Update Related Cases</label>
        <locationX>415</locationX>
        <locationY>48</locationY>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>34</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OmnichannelcaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
