src-00-temp/main/default/flows/waw_client_satisfaction_questionnaire_digital_and_telephone_therapy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_03ff51a6_23ef_4a4d_9471_5de333f2ff36</name>
        <choiceText>Acceptable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0664e428_7ff2_4319_9eb8_4a5d3136138e</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_07a8916a_3354_4028_a245_b8c9829d49af</name>
        <choiceText>Not acceptable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0f2cfe1b_1593_4b80_afd9_de43f57c1f7c</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_109218c8_1a8e_465f_9cb0_7f3c641ae9d9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_13617ecb_05c0_45cc_b027_cb0802b4c6b2</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_16f22328_557d_4d74_a627_e188a3a32bb7</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_340e7505_ee52_4802_9f0c_91a6308a3858</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_38d87558_5b2a_4eb1_9ecd_5ed16c7027d9</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_49d3a33c_531d_44c4_965f_429b16d3490c</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_751ca51a_e4bf_4edf_af32_687ff889a070</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_76fc7a64_2bad_4a8e_b34b_875313e63ee4</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9c9ee340_47c8_4102_84f2_f99a103a025e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9ca07249_dc90_481c_b0df_828fb737a03e</name>
        <choiceText>Unsatisfactory</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9ce2f9ba_cb07_49e5_b719_c61bc0d990bb</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a57d54ef_5e62_4bec_b993_3965cb21cf18</name>
        <choiceText>Not Helped</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b4be423a_2bd9_4166_857c_0eb57deaf496</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c3027cea_4e8e_43ed_85d6_44111e7bbd56</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c4573daa_fb56_411c_b51a_e70d2c0cf1b9</name>
        <choiceText>Helped considerably</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_edaabc60_ae79_4df1_9c12_b8f36c00c759</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f0dfb7fe_8d87_49b7_b353_d601612b953e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f66eaf77_44e8_46f9_9c9c_a63c3fc3d351</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_01fc77de_7171_4ca2_bb94_f1b6284649b8</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_0fbf5775_de6f_4995_9a2b_7c7073f94ba9</name>
        <choiceText>Helped considerably</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_18e55ce6_ca14_4aec_b98e_bd38d6fbae94</name>
        <choiceText>Late</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1919ac61_bc9f_4b29_838b_9597f596c250</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1a3237d0_d242_4d31_8e55_544abcb6c633</name>
        <choiceText>Very poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1ce7abcd_28e4_49a8_898b_49d3117c9554</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_21361010_6d5b_43b2_82cb_33abcce43e66</name>
        <choiceText>Very concerned</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_26876e1b_d829_45dc_8348_e819611b83b5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_27d5e26b_219a_44d6_a3e3_1c4f972a5187</name>
        <choiceText>Coping better</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_296ff314_9a4b_407d_9113_a457e5a5d359</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_362e9f80_4dc4_4ccd_94c7_053f68a12e2c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_3a35b6ee_5608_4887_9989_f7bd69eaa8a6</name>
        <choiceText>A great deal</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_5982e739_2935_4eb8_b3d5_4bfdcc568ea1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_6d82c007_dc51_4824_9c69_66a88d6a59a5</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_7d4e8612_8914_40ab_ab48_601adf7f8077</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_80a73ddb_08ed_44bf_bc76_1ed96fe62e08</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_8bd49077_6824_48b6_96ae_c3e40deddbdc</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_919cc33c_97c7_4cde_b8a3_0505e3e8bc86</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_92f3cc8f_28da_4a36_a068_3495969b58f0</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_938529e9_1b01_40b2_bef4_7bdfe6d03cc1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_a0979acc_f077_4a99_8569_5d3541281bed</name>
        <choiceText>Coping worse</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_a0da77b7_93e3_4bd6_ac1a_7bba4c173751</name>
        <choiceText>On time</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_aaece7ba_1cc5_45ff_be11_a66a20c334fe</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_b35d6e45_5fae_4ee4_9072_d7ae4121cc7e</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_b94651a6_6528_4ed8_b3df_f2b18d21d647</name>
        <choiceText>Not helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_c3d50db4_a34d_47d8_9d03_9d1b93d952d2</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_c5b22c9d_ab78_4ea5_98aa_fb22c50e21c0</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_c6235d1c_60eb_4688_aec9_7b4a7b2b64a3</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_cfa5f307_30c7_4d83_8e43_13983e978db2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_dcb468e0_c19e_4571_8d23_cb01458b76d7</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_de0b7741_ab04_40e7_808c_670cdf8a8add</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_e513bb22_2e3f_4154_a8a2_6e863b2fa7f4</name>
        <choiceText>Not at all</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_e7fc0b76_435d_4950_8dcd_04d4e6b1e211</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_eda5c375_7c97_4046_bf16_2fb8dfa7d90f</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f029873a_542c_456b_b4f1_1ee7a49cb747</name>
        <choiceText>Very helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_f18e9bf7_9a7a_4b34_8664_1b7b74763625</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_f5532011_51e5_4f22_a47e_6adfcc9eb7ff</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f74ac29f_8b2d_4714_801b_5ff892fbbaf7</name>
        <choiceText>Not concerned</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_f9005dea_fd54_4704_b139_e64b46553841</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_fde7455d_04f6_458b_a43b_b85fb5c5a729</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_ff03dab9_9665_49ed_ad50_4dab7bbc24ae</name>
        <choiceText>Not helped</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_6410fee0_63c9_47e3_b46f_5885c5efaff7</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_9022ebce_2a3d_441e_91ad_0d7949a4d76b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_3054dbd0_b71f_4881_b4bb_93f20fdd1e8e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_84c165e8_fb7b_4162_a8a3_ea1470f4bea0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_49d3a33c_531d_44c4_965f_429b16d3490c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_1c6fe75e_dd61_4558_b069_7a38d2ec7002</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>WAW Client Satisfaction Questionnaire - Digital and Telephone Therapy</interviewLabel>
    <label>WAW Client Satisfaction Questionnaire - Digital and Telephone Therapy</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_90bee0da_45ae_49b7_a193_01c4fd9561a3</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0edd6fcb_5ccb_432c_b6fb_02ec270ebd67</name>
        <label>Question 17</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ad254a8c_583f_4734_99f3_2ed85ffa3523</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a551b025_35ec_4587_a252_05d9c9c017bb</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you have any comments about your organisation or department that you would like us to feedback to them anonymously, please comment below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_1c6fe75e_dd61_4558_b069_7a38d2ec7002</name>
        <label>Question 13</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_fbe0c9a1_1657_4f6d_a1da_b5c3f0741d7e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fbca13e8_901c_41c3_a422_9ac8d9aee5c3</name>
            <choiceReferences>c_76fc7a64_2bad_4a8e_b34b_875313e63ee4</choiceReferences>
            <choiceReferences>c_c3027cea_4e8e_43ed_85d6_44111e7bbd56</choiceReferences>
            <choiceReferences>c_751ca51a_e4bf_4edf_af32_687ff889a070</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Do you think you would have had to take time off work due to your difficulties if you had not been able to access the counselling service?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_29433ce5_0803_445f_8a36_6253fa0c4af8</name>
        <label>Question 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a5adc24f_1bf7_420b_877e_4c7c69724359</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_22bd7a40_6d86_4205_94f2_7a507cba33ff_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_22bd7a40_6d86_4205_94f2_7a507cba33ff</name>
            <choiceReferences>S_1a3237d0_d242_4d31_8e55_544abcb6c633</choiceReferences>
            <choiceReferences>S_1ce7abcd_28e4_49a8_898b_49d3117c9554</choiceReferences>
            <choiceReferences>S_919cc33c_97c7_4cde_b8a3_0505e3e8bc86</choiceReferences>
            <choiceReferences>S_1919ac61_bc9f_4b29_838b_9597f596c250</choiceReferences>
            <choiceReferences>S_296ff314_9a4b_407d_9113_a457e5a5d359</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;What did you think of the overall service from Insight Wellbeing at Work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_3756f80b_3dff_4bae_8562_73f58487fd13</name>
        <label>Question 16</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0edd6fcb_5ccb_432c_b6fb_02ec270ebd67</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a211cbe5_3b95_4e94_980b_4b969ddb2c08</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please let us know if you have any further comments or suggestions about the counselling service.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4a18eb11_1206_4f5b_ba5f_0c44db3d032d</name>
        <label>Question 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f4dfbbd3_2954_440e_ae62_327dc2423e9e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_40510fe4_8236_4837_9972_d443337b38dc_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_40510fe4_8236_4837_9972_d443337b38dc</name>
            <choiceReferences>S_b94651a6_6528_4ed8_b3df_f2b18d21d647</choiceReferences>
            <choiceReferences>S_362e9f80_4dc4_4ccd_94c7_053f68a12e2c</choiceReferences>
            <choiceReferences>S_c5b22c9d_ab78_4ea5_98aa_fb22c50e21c0</choiceReferences>
            <choiceReferences>S_26876e1b_d829_45dc_8348_e819611b83b5</choiceReferences>
            <choiceReferences>S_f029873a_542c_456b_b4f1_1ee7a49cb747</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How helpful have you found the counselling in managing your problems?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_82a3fd8f_8ef7_4bef_b2b9_a80a95b8d297</name>
        <label>Question 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_bf47a374_460e_4ef1_90e8_5f43ccccc43a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_bbd1b6b3_4673_4d6c_b2a4_5376614288bf_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_bbd1b6b3_4673_4d6c_b2a4_5376614288bf</name>
            <choiceReferences>S_ff03dab9_9665_49ed_ad50_4dab7bbc24ae</choiceReferences>
            <choiceReferences>S_cfa5f307_30c7_4d83_8e43_13983e978db2</choiceReferences>
            <choiceReferences>S_f18e9bf7_9a7a_4b34_8664_1b7b74763625</choiceReferences>
            <choiceReferences>S_dcb468e0_c19e_4571_8d23_cb01458b76d7</choiceReferences>
            <choiceReferences>S_0fbf5775_de6f_4995_9a2b_7c7073f94ba9</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Do you think that counselling has helped you improve how you function at work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9022ebce_2a3d_441e_91ad_0d7949a4d76b</name>
        <label>Question 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d1956a79_d468_4b0c_8b9c_1c2b028f95f6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_747191da_dc8a_4795_b299_8d36008998c6</name>
            <choiceReferences>S_f5532011_51e5_4f22_a47e_6adfcc9eb7ff</choiceReferences>
            <choiceReferences>S_b35d6e45_5fae_4ee4_9072_d7ae4121cc7e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Are you now back at work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a5adc24f_1bf7_420b_877e_4c7c69724359</name>
        <label>Question 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_6410fee0_63c9_47e3_b46f_5885c5efaff7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_84c165e8_fb7b_4162_a8a3_ea1470f4bea0</name>
            <choiceReferences>c_109218c8_1a8e_465f_9cb0_7f3c641ae9d9</choiceReferences>
            <choiceReferences>c_49d3a33c_531d_44c4_965f_429b16d3490c</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Were you off work when you first contacted Insight Wellbeing at Work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ad254a8c_583f_4734_99f3_2ed85ffa3523</name>
        <label>Share Feedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_bdc43c7f_e805_45dd_b2c6_09f722aaf998</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6967a16e_7736_455c_89ba_cb62e7d73a1a</name>
            <choiceReferences>c_0664e428_7ff2_4319_9eb8_4a5d3136138e</choiceReferences>
            <choiceReferences>c_f66eaf77_44e8_46f9_9c9c_a63c3fc3d351</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Are you willing for you feedback to be shared with your counsellor?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ad3c3619_9185_4de8_b92e_6fde67f48214</name>
        <label>Question 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_df8ff3fd_25e2_4858_90d0_06f731b86afd</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5754e6af_29a6_49bb_8c66_2f5c59e73004_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5754e6af_29a6_49bb_8c66_2f5c59e73004</name>
            <choiceReferences>c_9ca07249_dc90_481c_b0df_828fb737a03e</choiceReferences>
            <choiceReferences>c_edaabc60_ae79_4df1_9c12_b8f36c00c759</choiceReferences>
            <choiceReferences>c_f0dfb7fe_8d87_49b7_b353_d601612b953e</choiceReferences>
            <choiceReferences>c_9ce2f9ba_cb07_49e5_b719_c61bc0d990bb</choiceReferences>
            <choiceReferences>c_13617ecb_05c0_45cc_b027_cb0802b4c6b2</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How satisfactory was your initial telephone contact with Insight Wellbeing at Work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ae8d4418_44ac_427f_9164_19ee5079b05f</name>
        <label>Question 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_4a18eb11_1206_4f5b_ba5f_0c44db3d032d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_dd7146db_0f16_4531_90a0_7e497a99fa19_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_dd7146db_0f16_4531_90a0_7e497a99fa19</name>
            <choiceReferences>S_f74ac29f_8b2d_4714_801b_5ff892fbbaf7</choiceReferences>
            <choiceReferences>S_f9005dea_fd54_4704_b139_e64b46553841</choiceReferences>
            <choiceReferences>S_6d82c007_dc51_4824_9c69_66a88d6a59a5</choiceReferences>
            <choiceReferences>S_e7fc0b76_435d_4950_8dcd_04d4e6b1e211</choiceReferences>
            <choiceReferences>S_21361010_6d5b_43b2_82cb_33abcce43e66</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;To what extent do you feel the counsellor was concerned to help you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b941a006_1ae8_4608_b535_ba2e7f57b5a0</name>
        <label>Question 15</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_3756f80b_3dff_4bae_8562_73f58487fd13</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7bff95a2_f7b5_4fdc_b7a6_812173aeddcd</name>
            <choiceReferences>S_eda5c375_7c97_4046_bf16_2fb8dfa7d90f</choiceReferences>
            <choiceReferences>S_de0b7741_ab04_40e7_808c_670cdf8a8add</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Would you recommend this service to a colleague?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_bdc43c7f_e805_45dd_b2c6_09f722aaf998</name>
        <label>Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5af6525c_a06c_47e0_b238_bcc60dd813d7</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you are willing to be contacted by email or telephone to provide additional feedback to help Insight Wellbeing at Work develop the service, please add you contact details below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_bf47a374_460e_4ef1_90e8_5f43ccccc43a</name>
        <label>Question 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_29433ce5_0803_445f_8a36_6253fa0c4af8</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f41278ad_952e_4e18_ab86_6f16ab352367_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f41278ad_952e_4e18_ab86_6f16ab352367</name>
            <choiceReferences>S_a0979acc_f077_4a99_8569_5d3541281bed</choiceReferences>
            <choiceReferences>S_8bd49077_6824_48b6_96ae_c3e40deddbdc</choiceReferences>
            <choiceReferences>S_fde7455d_04f6_458b_a43b_b85fb5c5a729</choiceReferences>
            <choiceReferences>S_c6235d1c_60eb_4688_aec9_7b4a7b2b64a3</choiceReferences>
            <choiceReferences>S_27d5e26b_219a_44d6_a3e3_1c4f972a5187</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How are you coping overall since you had counselling?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d1956a79_d468_4b0c_8b9c_1c2b028f95f6</name>
        <label>Question 12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1c6fe75e_dd61_4558_b069_7a38d2ec7002</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_38fbd050_7bc4_4bd3_91b8_55a5eb0fe4c2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_38fbd050_7bc4_4bd3_91b8_55a5eb0fe4c2</name>
            <choiceReferences>c_a57d54ef_5e62_4bec_b993_3965cb21cf18</choiceReferences>
            <choiceReferences>c_16f22328_557d_4d74_a627_e188a3a32bb7</choiceReferences>
            <choiceReferences>c_38d87558_5b2a_4eb1_9ecd_5ed16c7027d9</choiceReferences>
            <choiceReferences>c_0f2cfe1b_1593_4b80_afd9_de43f57c1f7c</choiceReferences>
            <choiceReferences>c_c4573daa_fb56_411c_b51a_e70d2c0cf1b9</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Has counselling assisted you in getting back to work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_df8ff3fd_25e2_4858_90d0_06f731b86afd</name>
        <label>Question 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_eda9247d_1237_45b0_a0a6_ba9e2b689089</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_320cf81e_1ed2_4c43_be82_ae1fdcda8d91_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_320cf81e_1ed2_4c43_be82_ae1fdcda8d91</name>
            <choiceReferences>c_07a8916a_3354_4028_a245_b8c9829d49af</choiceReferences>
            <choiceReferences>c_340e7505_ee52_4802_9f0c_91a6308a3858</choiceReferences>
            <choiceReferences>c_b4be423a_2bd9_4166_857c_0eb57deaf496</choiceReferences>
            <choiceReferences>c_9c9ee340_47c8_4102_84f2_f99a103a025e</choiceReferences>
            <choiceReferences>c_03ff51a6_23ef_4a4d_9471_5de333f2ff36</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Was the time delay before your first counselling session acceptable to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_eda9247d_1237_45b0_a0a6_ba9e2b689089</name>
        <label>Question 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ae8d4418_44ac_427f_9164_19ee5079b05f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5ecdfda8_00bb_4be1_a823_4729477ed192_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5ecdfda8_00bb_4be1_a823_4729477ed192</name>
            <choiceReferences>S_18e55ce6_ca14_4aec_b98e_bd38d6fbae94</choiceReferences>
            <choiceReferences>S_938529e9_1b01_40b2_bef4_7bdfe6d03cc1</choiceReferences>
            <choiceReferences>S_aaece7ba_1cc5_45ff_be11_a66a20c334fe</choiceReferences>
            <choiceReferences>S_80a73ddb_08ed_44bf_bc76_1ed96fe62e08</choiceReferences>
            <choiceReferences>S_a0da77b7_93e3_4bd6_ac1a_7bba4c173751</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How punctual was the counsellor in starting the sessions?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f4dfbbd3_2954_440e_ae62_327dc2423e9e</name>
        <label>Question 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_82a3fd8f_8ef7_4bef_b2b9_a80a95b8d297</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_61203d3e_c83a_4737_8544_4c06c9799dc8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_61203d3e_c83a_4737_8544_4c06c9799dc8</name>
            <choiceReferences>S_e513bb22_2e3f_4154_a8a2_6e863b2fa7f4</choiceReferences>
            <choiceReferences>S_92f3cc8f_28da_4a36_a068_3495969b58f0</choiceReferences>
            <choiceReferences>S_c3d50db4_a34d_47d8_9d03_9d1b93d952d2</choiceReferences>
            <choiceReferences>S_7d4e8612_8914_40ab_ab48_601adf7f8077</choiceReferences>
            <choiceReferences>S_3a35b6ee_5608_4887_9989_f7bd69eaa8a6</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How much do you think your difficulties affected your performance at work?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fbe0c9a1_1657_4f6d_a1da_b5c3f0741d7e</name>
        <label>Question 14</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b941a006_1ae8_4608_b535_ba2e7f57b5a0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_66e9dfcb_a36f_43d3_836c_60cb49278b60</name>
            <choiceReferences>S_5982e739_2935_4eb8_b3d5_4bfdcc568ea1</choiceReferences>
            <choiceReferences>S_01fc77de_7171_4ca2_bb94_f1b6284649b8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you needed to, would you use this counselling service again?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_ad3c3619_9185_4de8_b92e_6fde67f48214</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thank you for taking the time to give us your feedback.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&lt;img src=&quot;https://insighthealthcare--c.documentforce.com/file-asset-public/WAW_Logo?oid=00D3H0000008kLD&amp;amp;v=1&quot; alt=&quot;WAW_Logo&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you for using Insight Wellbeing at Work.&amp;nbsp;Your feedback about the help you have received is very important to us.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;We would be most grateful if you would complete this brief questionnaire in order to help us to monitor and improve the counselling service.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_22bd7a40_6d86_4205_94f2_7a507cba33ff_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_320cf81e_1ed2_4c43_be82_ae1fdcda8d91_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_38fbd050_7bc4_4bd3_91b8_55a5eb0fe4c2_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_40510fe4_8236_4837_9972_d443337b38dc_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5754e6af_29a6_49bb_8c66_2f5c59e73004_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5ecdfda8_00bb_4be1_a823_4729477ed192_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_61203d3e_c83a_4737_8544_4c06c9799dc8_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_bbd1b6b3_4673_4d6c_b2a4_5376614288bf_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_dd7146db_0f16_4531_90a0_7e497a99fa19_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f41278ad_952e_4e18_ab86_6f16ab352367_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
